<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Setup</title>
    <link rel="stylesheet" href="style.css">
    <!-- <style>
        body{
            background-color: black;
            color: white;;
        }
    </style> -->
</head>
<body>
    <h1>we are learning ejs. <%= name %></h1>
    <ul>
        <li><%= product[0].title %></li>
        <li><%= product[0].price %></li>
        <li><%= product[1].title %></li>
        <li><%= product[1].price %></li>
    </ul>
    
</body>
</html>